﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css"
          integrity="sha512-F7WyTLiiiPqvu2pGumDR15med0MDkUIo5VTVyyfECR5DZmCnDhti9q5VID02ItWjq6fvDfMaBaDl2J3WdL1uxA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
</head>
<body>
    @await Html.PartialAsync("_Menu")
    <div class="container">
        <div class="row mt-3">
            <div class="col"></div>
            <div class="col">@RenderBody()</div>
            <div class="col"></div>
        </div>
    </div>
</body>
</html>