﻿<nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
    @if (ViewBag.Session?.Login != null)
    {
        @await Html.PartialAsync("_Timer")
    }
    <div class="visible"></div>
    @if (ViewBag.Session?.Login != null)
    {
        <ul class="nav nav-pills">
            <li class="nav-item">
                <form action="try-logout" method="post">
                    <button type="submit" class="nav-link">Logout</button>
                    @Html.AntiForgeryToken()
                </form>
            </li>
        </ul>
    }
</nav>