﻿@using VulnerableWebsite.Providers

@{
    var timeLeft = ViewBag.Session.StartDateTime - DateTime.UtcNow;
    var initialTimerSecs = (int)timeLeft.TotalSeconds + SessionProvider.SessionDurationSecs;
}

<ul class="nav nav-pills">
    <li class="nav-item">
        <div id="session-timer"></div>
    </li>
</ul>

<script>
    const withPad = (value) => value >= 10 ? value : `0${value}`;

    const timerText = (timerSecs) => {
        const seconds = timerSecs % 60;
        const minutes = Math.floor(timerSecs / 60);
        return withPad(minutes) + ":" + withPad(seconds);
    }

    const timerEl = document.getElementById("session-timer");
    let timerSecs = @initialTimerSecs;
    let interval = null;

    const updateTimer = () => timerEl.innerText = timerSecs > 0
        ? timerText(timerSecs--)
        : !clearInterval(interval) && "The session has expired";

    if (timerEl && timerSecs) {
        updateTimer();
        interval = setInterval(updateTimer, 1000);
    }
</script>