﻿@using VulnerableWebsite.Providers

@model dynamic

@{
    ViewBag.Title = "login";
    Layout = "_Layout";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/3.2.0/sha256.min.js"
        integrity="sha512-j1REQToOszIQ5VTqzcgk5uHGXN3ce9NVsWSA3PA2Ze2NhwMiavzScb669EbY6XBHrhGFvLUpP6OhT9/LV7g8cw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer">
</script>
<script>
    const getHash = (value) => {
        const jsSha = new jsSHA("SHA-256", "TEXT", { encoding: "UTF8" });
        jsSha.update(value);
        return jsSha.getHash("HEX");
    }
    const updateHash = (el) => {
        const hashElName = el.id.replace("Input", "Hash");
        const hashEl = document.getElementsByName(hashElName)[0];
        hashEl.value = getHash(el.value);
    };
</script>
<form action="try-login" method="post" asp-antiforgery="true">
    <div class="mb-3">
        <label for="loginInput" class="form-label">Login (@SessionProvider.SessionDurationSecs seconds session)</label>
        <input type="text" class="form-control" oninput="updateHash(this)" id="loginInput">
        <input type="hidden" name="loginHash">
    </div>
    <div class="mb-3">
        <label for="passwordInput" class="form-label">Password</label>
        <input type="password" class="form-control" oninput="updateHash(this)" id="passwordInput">
        <input type="hidden" name="passwordHash">
        @Html.AntiForgeryToken()
    </div>
    <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
</form>