﻿@using VulnerableWebsite.Providers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model dynamic

@{
    ViewBag.Title = "status";
    Layout = "_Layout";
    var login = ViewBag.Session.Login;
    var status = StatusProvider.GetStatus(login) ?? "none";
}

<script>
    const toggleSetStatus = () => document
        .getElementById('setNewStatus')
        .classList
        .toggle("show");
</script>

<div class="card" style="width: 18rem;">
    <img
        src="https://image.freepik.com/free-vector/banner-background-cute-cats-say-hello_45130-353.jpg"
        class="card-img-top"
        alt="Cats say good day!">
    <div class="card-body">
        <h5 class="card-title">My status: @status</h5>
    </div>
</div>
<div style="width: 18rem;">
    <p class="mt-3">
        <button class="btn btn-outline-secondary btn-sm"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#setNewStatus"
                aria-expanded="false"
                aria-controls="setNewStatus"
                onclick="toggleSetStatus()">
            Change status
        </button>
    </p>
    <div class="collapse" id="setNewStatus">
        <form action="new-status" method="post" asp-antiforgery="true">
            <div class="mb-3">
                <label for="statusInput" class="form-label">New status</label>
                <input name="status" type="text" class="form-control" id="statusInput">
            </div>
            <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
        </form>
    </div>
</div>